body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content:center;
  align-items:center;
}

.inputs{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

#botao-inserir-despesa, #botao-inserir-ganho{
  margin-top: 1vh;
  margin-left: 5vw;
}

.tabelas{
  display: flex;
  flex-direction: row;

  align-items: center;

  margin-top: 10vh;
}

.tabela{
  display: flex;
  justify-content:center;
}

#balance{
  text-align: center;
  background-color: #e4ee8f;
}